%p This is a partnership between my current company, OLSET, and popular to-do list app Any.do. We're managing travel booking on their Android app by proactively suggesting hotels to their users.
%p Here's how it works: An Any.do user enters a hotel-related task (e.g. "Book a hotel for NY") and a green icon appears next to the task. Clicking on this icon opens up a webview with hotel recommendations, where the user can customize their preferences, search for hotels, and make a reservation right within the app.
%p
  The webview is a white label of the OLSET.com site,
  customized to appear as though it is part of the Any.do mobile app. One of the biggest changes from the website was to break up the pages into multiple screens, to avoid long scrolling. All the pages are done with AJAX navigation with slide animations for page transitions.
%br/
%p Below is one of my initial wireframes for the Any.do hotel booking webview.
.portfolio-item__project-links
  %a{ href: "http://www.any.do", target: "_blank", class: 'btn btn-default' } Any.do Website
  %a{ href: "https://play.google.com/store/apps/details?id=com.anydo", target: "_blank", class: 'btn btn-primary' } Download Any.do for Android
