%p This is a partnership between OLSET and Any.do, a popular to-do list app. We managed travel booking on their Android app by proactively suggesting hotels to their users.
%p Here's how it works: An Any.do user enters a hotel-related task (e.g. "Book a hotel for NY") and a green icon appears next to the task. Clicking on this icon opens up a webview with hotel recommendations, where the user can customize their preferences, search for hotels, and make a reservation right within the app. We'll remember their preferences for next time so they don't have to re-enter them.
%p
  The webview is a white label of OLSET.com,
  customized to appear as though it's part of the Any.do mobile app. One of the biggest changes from the website was breaking up the pages into multiple screens, to avoid long scrolling. All the pages are done with AJAX navigation, with slide animations for page transitions.
