.portfolio-item__section.container--first
  .container.container--page-width.container--content
    %h3.heading--section.portfolio-item__section-name
      The Objective
    %p
      DoubleDutch customers create their own custom mobile event app, so their attendees can have a fully customized and branded experience when they attend an event. Any time an customer wants to change to an app-level detail, like an image assets or their app description, they have to resubmit their app for publication.

    %p
      Once the app changes are submitted, the DoubleDutch ops team reviews the app, builds it, and sends it to the App Store and Google Play for review. Once it’s in the hands of the app stores, the publication process can take several weeks.

    %p
      There was lot of confusion around this process. The two main problems that I wanted to solve were:

    %ol
      %li
        %strong Event organizers had trouble understanding what all the various names, descriptions, and media assets were for.
        Customers had many help pages walking them through what every app-level field was &mdash; but they still emailed and called us every time they wanted to update their app asking us to explain. There are so many different fields with specific requirements, and even if they get all the hard requirements right like word counts and image dimensions, they might realize when they see it in the app store that their entry doesn't make sense for where it appears. For example, they might create a detailed image for their app icon before realizing how small it appears on attendees' phones. The cost of these mistakes is high, as the organizer then has to make changes, resubmit their app, and wait for the app stores to approve their newest revision, which can take weeks.
      %li
        %strong Event organizers didn't realize that every app edit kicks off an approval and publication process, and that their changes can take up to a month to appear in app stores.
        They would make an edit, check on their app, and then contact us asking why their change isn't there. They would make changes very casually, often submitting multiple changes over the course of an hour. This caused the DoubleDutch ops team to have to parse out which is the latest version before reviewing it and sending it off to the app stores for publication.

.portfolio-item__section
  .container.container--page-width.container--content
    %h3.heading--section.portfolio-item__section-name
      The "Final" Product

    %p
      I added phone previews for each field that update live as the event organizer types their details. As they move through the different fields, the phone changes to show where this field will appear to attendees.

    = render partial: 'portfolio_items/browser_frame', locals: { item: item, image_filename: '1-app-details.png', desc: 'App Details' }

    %p
      The event organizer can click through the different media assets and see where each will appear to the attendee.

    = render partial: 'portfolio_items/browser_frame', locals: { item: item, image_filename: '2-app-media-assets.png', desc: 'App Media Assets' }

    %p
      Before this design, event organizers edited their app in a modal and clicked a "Save" button to submit it. This really didn't indicate the importance of this action and what it entails. I added a Review & Submit screen where the event organizer can see all their changes and get an explanation of what will happen when they submit their app.

    = render partial: 'portfolio_items/browser_frame', locals: { item: item, image_filename: '3-review-submit-app.png', desc: 'Review & Submit App' }
