.portfolio-item__section.container--first
  .container.container--page-width.container--content
    %h3.heading--section.portfolio-item__section-name
      The Objective
    %p
      When I started work on this feature, Goldbely’s search autocomplete was a small list view. We knew that we wanted to improve our search, both from personal experience as well as from emails from our users. These are the problems we wanted to solve:

    %ol
      %li
        The search experience was okay if you knew exactly what you were looking for, but it was not very useful for browsing. Since photos are a huge selling point for food, I wanted to bring those forward and make it fun to look through search results.
      %li
        There was no way to see all the results for your search query. Users were stuck with the first 8 results of the search, and there was no page for them to view more.
      %li
        There was no way to go directly to a shop from the search. I wanted users to be able to type in the name of a shop and go directly there, rather than just going directly to a product.

.portfolio-item__section
  .container.container--page-width.container--content
    %h3.heading--section.portfolio-item__section-name
      The "Final" Product
  .container.container--page-width
    = image_tag "#{ item.sample_image_path }final-product.png", alt: "#{ item.name } Final Product"
  .container.container--page-width.container--content
    %br
    %p
      Above is a screenshot of the final product. Users can click on a product, or go to a shop by clicking the shop name.

.portfolio-item__section
  .container.container--page-width.container--content
    %h3.heading--section.portfolio-item__section-name
      The Future
  .container.container--page-width.container--content
    %p
      I want to add a wider variety of items to our searcn results (we haven't due to development constraints). Ideally we would show not only products, but also our curated collections, food categories, and regions (e.g. "Food from New York"). This would allow users to browse much more effectively through our search. We see them entering vague search terms like "cake," and we have a cake category — unfortunately it is not hooked up to our search results.

    %p Adding these other categories would mean we need a slightly more complex search UI, with a sections for: "Products matching [query]," "Collections matching [query]," "Regions matching [query]," etc.

