%p
  Above is the main screen of the app, showing the keyboard for inputting individual notes. There are two other keyboards as well: one for inputting phrases and one for playback.

%p
  I wanted to design a music notation app that makes it really easy to jot down short musical ideas and phrases and play them back. (I majored in music in college, so this is an area of interest for me.)
