%p
  There are several music notation mobile apps out
  there, but none with great design or usability. I majored in music in college, so this is an area of interest for me.
%p
  I wanted to design it in a way that makes it really easy to
  jot down short musical ideas and phrases, while maintaining playback functionality within the app. Above is the main screen of the app,
  showing the keyboard for inputting and editing individual notes. The user has two other keyboards to use as well, one for editing
  phrases and one for playback.
