%p This is a mobile app I built (with one other person). We set out to build something simple for Android, and decided on a toolkit for the elderly. It combines a magnifying glass, flashlight, and large-print notebook. We wanted it to be extremely comprehendive even for people who aren't tech savvy.
%br
.right
  %span.small.indented.inline-block
    %a{ href: "https://play.google.com/store/apps/details?id=com.thirdlayer.oldperson&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS50aGlyZGxheWVyLm9sZHBlcnNvbiJd", target: "_blank", title: "Google Play: Old Person App", class: 'link--text'} Download Old Person App
