%p I wanted to try out animation in HTML5, so I decided to create a JavaScript game. I made my own version of the classic snake game using the HTML5 canvas element.
%br
%span.right.small.inline-block
  %a{ href: "/snake.html", target: "_blank", title: "Snake"} Play Snake
