// COLORS

$gray-shades: (
  darkest: #333,
  dark: #666,
  medium-dark: #8a8a8a,
  medium: #999,
  light: #aaa,
  lighter: #ccc,
  lightest: #eee,
  off-white: #F5F4F1
);

$brand-colors: (
  primary: #00B890,
  primary-dark: #00AE88
);

@function gray( $shade: dark ) {
  @return map-get( $gray-shades, $shade );
};

@function brand( $color: primary ) {
  @return map-get( $brand-colors, $color );
};

// ALIGNMENT

$padding-sizes: (
  sm: 10px,
  md: 20px,
  lg: 50px,
  xl: 70px
);

@function padding( $size: md ) {
  @return map-get( $padding-sizes, $size );
}


$z-indexes: (
  page: 0,
  header: 10,
  modal:  100,
);

@function z-index( $layer ) {
  @return map-get( $z-indexes, $layer );
}


// PAGE ELEMENTS

$page-props: (
  width: 1248px,
  small-width: 1000px,
  padding-x: 35px,
  padding-y: padding( lg ),
  padding-y-mobile: 35px,
  padding-y-portfolio: 35px,
  footer-height: 155px
);

@function page( $prop ) {
  @return map-get( $page-props, $prop );
}

$header-props: (
  height: 4.3em,
  height-mobile: 3.35em,
  padding-y: 0,
  color-light: white,
  color-dark: gray( dark )
);

$header-bps: (
  nav-logo-stack: 750px
);

$about-props: (
  headshot-size: 436px,
  gutter: 50px,
  bp-xl: 1200px,
  bp-md: 650px
);

@function about( $prop ) {
  @return map-get( $about-props, $prop );
}

$resume-props: (
  bp-stack: 1150px,
  max-width: 800px
);

@function resume( $prop ) {
  @return map-get( $resume-props, $prop );
}



// EFFECTS

$transition-lengths: (
  sm: 0.1s,
  md: 0.3s,
  lg: 0.5s,
  xl: 0.8s
);

@function transition( $length: md ) {
  @return map-get( $transition-lengths, $length );
}


// ICONS

$social-icons: (
  (
    name: dribbble,
    color: #ee4589
  ),
  (
    name: behance,
    color: #1769ff
  ),
  (
    name: github-alt,
    color: #333
  ),
  (
    name: stack-exchange,
    color: #1e60a1
  ),
  (
    name: twitter,
    color: #51abf1
  ),
  (
    name: linkedin,
    color: #0883bd
  ),
  (
    name: envelope,
    color: #333
  ),
  (
    name: phone,
    color: #333
  )
);
