$link-color: brand( primary )

=active-link-states
  &:hover,
  &:active,
  &:focus
    @content

=text-link-hover-style( $color )
  color: $color
  border-bottom: 2px solid $color

=text-link( $color, $color-hover: $color, $color-visited: $color )
  color: $color
  border-bottom: 2px solid transparent

  &:visited
    color: $color-visited

  +active-link-states
    +text-link-hover-style( $color-hover )


.text-link--primary
  +text-link( $link-color )

.text-link--default
  +text-link( gray(darkest) )

.text-link--muted
  +text-link( gray(light) )

.text-link--white
  +text-link( white )


// IN PAGE

.scroll-past
  position: absolute
  bottom: 1.5%
  left: 0
  right: 0
  text-align: center
  z-index: z-index( page ) + 2

  a
    @extend .fa
    @extend .fa-angle-down
    @extend %button-hover-effect
    display: inline-block
    font-size: em( 85px )
    color: white


