$link-color: brand( primary )
$link-color-visited: $link-color

=link-hover-style
  color: $link-color
  border-bottom: 2px solid $link-color

.link--text
  color: $link-color

  &:visited
    color: $link-color-visited

  &:hover,
  &:active,
  &:focus
    +link-hover-style

