$portfolio-item-cover-props: (
  gutter: 0,
  blurb-height: 90px,
  content-padding-x: 8%,
  fg-translate-offset: 34px,
  transition: 0.4s ease-in-out
);

@function portfolio-item-cover( $prop ) {
  @return map-get( $portfolio-item-cover-props, $prop );
}

$portfolio-items: (
  (
    slug: 'doubledutch-engagement-report',
    color: #A786DC
  ),
  (
    slug: 'doubledutch-unified-messaging',
    color: #3EB5AC
  ),
  (
    slug: 'doubledutch-edit-app',
    color: #529CCF
  ),
  (
    slug: 'goldbely-checkout',
    color: #F37170
  ),
  (
    slug: 'goldbely-search-autocomplete',
    color: #EDAE5F
  ),
  (
    slug: 'goldbely-order-history',
    color: #5AB3BA
  ),
  (
    slug: 'anydo-hotel-matches',
    color: #5DA8C1
  ),
  (
    slug: 'olset-hotel-matches',
    color: #6CA56B
  ),
  (
    slug: 'music-notation-app',
    color: #5D8ED2
  ),
  (
    slug: 'old-person-app',
    color: #B672BB
  ),
  (
    slug: 'myfive',
    color: #53ADD0
  )
);
