.portfolio-items
  .headroom--top
    background: map-get( $header-props, background-opaque )

.portfolio-item-covers
  @extend .clearfix
  list-style-type: none
  margin: 0
  padding: portfolio-item-cover( gutter ) / 2
  background: white

.portfolio-item-cover
  $gutter: 0.8em
  +box-sizing( border-box )
  padding: portfolio-item-cover( gutter ) / 2

  @media ( min-width: 680px ), ( $mq-aspect-greater-than-usual )
    float: left
    width: 50%

  +mq( 1200px, min-width )
    width: percentage( 1 / 3 )

.porfolio-item-cover__content
  overflow: hidden
  position: relative
  cursor: pointer

  +active-link-states
    .portfolio-item-cover__aspect
      +transform( translateY( portfolio-item-cover( blurb-height ) * -1 ) )

    .portfolio-item-cover__image
      opacity: 0.9

    .portfolio-item-cover__title
      +transform( translateY( portfolio-item-cover( fg-translate-offset ) * -1 ) )

    .portfolio-item-cover__dark-overlay
      opacity: 1

    .portfolio-item-cover__blurb
      +transform( translateY( 0 ) )

+set-aspect-ratio( '.portfolio-item-cover__aspect', 10, 8 )
  +transition( transform portfolio-item-cover( transition ) )

.portfolio-item-cover__image
  +transition( opacity portfolio-item-cover( transition ) )
  display: block
  width: 100%
  height: auto

.portfolio-item-cover__dark-overlay
  +transition( opacity portfolio-item-cover( transition ) )
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: z-index( page ) + 1
  opacity: 0
  background: transparentize( black, 0.6 )

.portfolio-item-cover__gradient
  +linear-gradient-vertical( $stop: transparentize( black, 0.4 ) )
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: 30%
  z-index: z-index( page ) + 2

.portfolio-item-cover__title
  @extend %font-weight-light
  +transition( transform portfolio-item-cover( transition ) )
  position: absolute
  bottom: 16%
  left: portfolio-item-cover( content-padding-x )
  font-size: em( 21px )
  color: white
  text-shadow: 0 0 0.8em transparentize( black, 0.6 )

.portfolio-item-cover__blurb
  +box-sizing( border-box )
  +transition( transform portfolio-item-cover( transition ) )
  +transform( translateY( portfolio-item-cover( blurb-height ) + portfolio-item-cover( fg-translate-offset ) ) )
  position: absolute
  bottom: 0
  left: 0
  right: 0
  display: table
  height: portfolio-item-cover( blurb-height )
  padding: 0 portfolio-item-cover( content-padding-x )
  font-size: em( 15px )
  color: white

  span
    display: table-cell
    vertical-align: middle

.portfolio-items
  .back-to-top
    margin-top: 2em
