.portfolio-item-sample
  height: 100vh

.portfolio-item-sample__content
  padding: 0.1vh 1em

  img
    display: block
    clear: both
    width: auto
    height: auto
    max-width: 100%
    max-height: 63vh
    margin: 2vh auto 0

    +mq-aspect-greater-than-usual
      margin: 0 auto

    +mq-aspect-greater-than-double
      float: left
      width: 50vw
      margin: 6vh 2vw 0 5vw

  +mq-aspect-less-than-square
    padding: 5vh 1em

    img
      margin: 5vh auto 3vh

@each $item-props in $portfolio-items
  .portfolio-item-cover--#{ map-get( $item-props, slug ) }
    .porfolio-item-cover__content
      background: map-get( $item-props, color )

  .portfolio-item-sample--#{ map-get( $item-props, slug ) }
    background: map-get( $item-props, color )

.portfolio-item-sample__nav
  @extend %button-hover-effect
  cursor: pointer

.portfolio-item-sample__title,
.portfolio-item-sample__blurb
  color: white
  text-align: center

.portfolio-item-sample__title
  @extend %heading--page

  h1
    font-size: em( 40px )

.portfolio-item-sample__blurb
  margin-top: 0.5vh

  @media ( max-height: 600px ), ( max-width: 350px )
    display: none

.portfolio-item-sample__links
  text-align: center

  .link--outbound
    @extend .btn-default

  @media ( max-width: 500px ), ( #{ $mq-aspect-greater-than-double } )
    a
      display: block
      + a
        margin-left: 0
        margin-top: 0.8em

  +mq-aspect-less-than-square
    text-align: center

  +mq-aspect-greater-than-double
    float: left
    min-width: 30vw
    margin-top: 6vh
    text-align: left
    font-size: 90%
