// ABOUT

.about__headshot
  $size: 218px
  float: left
  margin: 10px 40px 0 0
  height: $size
  width: $size
  border-radius: $size / 2

.contact-paragraph
  margin-top: 50px
  overflow: hidden

.profile-container
  padding-bottom: 0
