// COLORS

$brand-primary: #00b8a5

$gray-darkest: #333
$gray-dark: #666
$gray-medium: #999
$gray-light: #aaa
$gray-lighter: #ccc
$gray-lightest: #f1f1f5

// LINKS

$link-color: $brand-primary
$link-color-visited: darken( $link-color, 10% )

=link-hover-style
  color: $link-color
  border-bottom: 2px solid $link-color

// SPACING

$padding-md: 20px
$padding-lg: 50px
$padding-xl: 70px

// PAGE

$page-width: 1024px
$page-padding-x: $padding-md
$page-padding-y: $padding-lg

$header-height: 73px

// FONT

@function strip($number)
  @return $number / ($number * 0 + 1)

@function em( $target, $context: 16px )
  @return ( strip($target) / strip($context) ) * 1em

%font-weight-light
  font-family: "Raleway", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif
  font-weight: 200

%content-font-style
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif
  line-height: 1.5

%header-font-style
  @extend %font-weight-light

// EFFECTS

$transition-default: 0.3s

=box-shadow( $top, $left, $blur, $color, $inset: '' )
  -webkit-box-shadow: $top $left $blur $color #{$inset}
  -moz-box-shadow: $top $left $blur $color #{$inset}
  box-shadow: $top $left $blur $color #{$inset}

=transition($transition...)
  -moz-transition:    $transition
  -o-transition:      $transition
  -webkit-transition: $transition
  transition:         $transition

=transition-property($property...)
  -moz-transition-property:    $property
  -o-transition-property:      $property
  -webkit-transition-property: $property
  transition-property:         $property

=transition-duration($duration...)
  -moz-transition-property:    $duration
  -o-transition-property:      $duration
  -webkit-transition-property: $duration
  transition-property:         $duration

=transition-timing-function($timing...)
  -moz-transition-timing-function:    $timing
  -o-transition-timing-function:      $timing
  -webkit-transition-timing-function: $timing
  transition-timing-function:         $timing

=transition-delay($delay...)
  -moz-transition-delay:    $delay
  -o-transition-delay:      $delay
  -webkit-transition-delay: $delay
  transition-delay:         $delay

=transform( $transform )
  -webkit-transform: $transform
  -moz-transform: $transform
  -o-transform: $transform
  -ms-transform: $transform
  transform: $transform

=transition-transform( $transition )
  +transition( transform $transition, -webkit-transform $transition, -moz-transform $transition, -o-transform $transition )

.left
  float: left
.right
  float: right
