$social-sprite-size: 40px

.footer--social
  color: white
  width: 100%
  clear: both
  font-size: 1.2em
  display: block
  padding-bottom: 0
  margin: 30px 0
  height: 100%

  +mq( 400px, min-width )
    text-align: right

    .social--contact
      float: left

  li
    display: inline-block
    margin: 0 15px 0 0
    vertical-align: middle

    &:last-child
      margin-right: 0

.social-icon
  background: image-url( "social-icons-retina.png") 0 0 no-repeat
  background-size: 280px 80px
  display: inline-block
  height: $social-sprite-size
  width: $social-sprite-size


@each $icon, $x-coord in $social-sprites
  .social-icon--#{ $icon }
    background-position: #{ $x-coord } 0

    &:hover,
    &:active
      background-position: #{ $x-coord } -#{ $social-sprite-size }
