.footer--social
  color: white
  width: 100%
  clear: both
  font-size: 1.2em
  display: block
  padding-bottom: 0
  margin: 30px 0
  height: 100%

  +mq( 400px, min-width )
    text-align: right

    .social--contact
      float: left

.social--contact,
.social--profiles
  li
    display: inline-block
    margin: 0 15px 0 0
    vertical-align: middle

    &:last-child
      margin-right: 0

.social-link
  display: block
  +circle( 40px, gray( medium-dark ) )
  padding: 10px
  text-align: center
  +transition( background-color transition(md) )

  &:before
    display: block
    content: ''
    height: $social-sprite-size
    width: $social-sprite-size
    background: image-url( "social-icons-retina.png") 0 0 no-repeat
    background-size: ( $social-sprite-size * length($social-icons) ) $social-sprite-size

@each $icon-props in $social-icons
  .social-link--#{ map-get( $icon-props, name ) }
    &:before
      background-position: map-get( $icon-props, pos-x ) 0

    &:hover,
    &:active
      background: map-get( $icon-props, color )

