@import partials/bits

.header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1
  padding-top: $padding-md
  background: transparentize( white, 0.03 )
  border-bottom: 1px solid $gray-lighter
  +box-shadow( 12px, 12px, 12px, transparentize( white, 0.4 ) )

  .container--page-width
    display: table
    position: relative

.header__home-link
  position: absolute
  bottom: 0
  left: 0

  h1
    @extend %header-font-style
    float: left
    margin-bottom: 0
    font-size: em( 55px )
    color: $gray-lighter
    text-transform: uppercase
    line-height: 0.7

.header__nav--primary,
.header__nav--secondary
  list-style: none
  padding-left: 0

.header__nav--primary
  height: 100%
  float: right
  margin-bottom: 0

  $nav-link-border-size: 0.3em

  li
    display: inline-block
    vertical-align: middle
    padding: 0 1.2em
    overflow: hidden

    &:last-child
      padding-right: 0

  .nav__link
    $font-size: 19px
    display: block
    position: relative
    padding: 0.7em 0.7em
    font-size: em( $font-size )
    font-weight: light
    color: $gray-dark
    text-transform: uppercase
    letter-spacing: em( 1px, $font-size )

    &:after
      display: block
      position: absolute
      // bottom: $nav-link-border-size * -1
      bottom: 0
      left: 0
      right: 0
      height: $nav-link-border-size
      content: ''

    &:hover,
    &.active
      color: $link-color

      &:after
        background: $link-color
        // bottom: 0

.header__nav--secondary
  display: none
