$header-bps: ( nav-logo-stack: 380px )

.header
  +box-sizing( border-box )
  padding-top: padding( md )
  border-bottom: 1px solid gray( lighter )

  .container--page-width
    display: table
    position: relative

  +mq( page( width ) + 16px )
    font-size: 95%

  +mq( 915px )
    font-size: 90%

  +mq( 460px )
    font-size: 80%

.header__home-link
  display: block

  +mq( map-get( $header-bps, nav-logo-stack ), min-width )
    position: absolute
    bottom: 0
    left: 0

  h1
    width: 396px
    height: 39px
    margin-bottom: 0
    font-size: em( 55px )
    color: gray( lighter )
    text-transform: uppercase
    line-height: 0.7
    background: image-url( 'header-logo.png' ) left top no-repeat
    background-size: cover

.header__nav--primary,
.header__nav--secondary
  list-style: none
  padding-left: 0

.header__nav--primary
  height: 100%
  margin-bottom: 0
  text-align: center

  +mq( map-get( $header-bps, nav-logo-stack ), min-width )
    float: right

  li
    display: inline-block
    vertical-align: middle
    padding: 0 1.2em

    +mq( page( width ) )
      padding-left: 1em
      padding-right: 1em

    +mq( 570px )
      padding-left: 0.1em
      padding-right: 0.1em

    &:first-child
      padding-left: 0

    &:last-child
      padding-right: 0

+mq( 840px )
  .header
    padding-top: 0

  .header__home-link
    height: 100%
    padding: 6px 3%
    background: gray( light )

    h1
      width: 49px
      height: 32px
      background-image: image-url( 'header-logo-mobile.png' )
      margin-top: 0

.nav__link
  display: block
  position: relative
  padding: 0.7em map-get( $nav-link-props, padding-x )
  overflow: hidden
  color: gray( dark )

.nav__link--primary
  $font-size: 19px
  font-size: em( $font-size )
  font-weight: light
  text-transform: uppercase
  letter-spacing: em( 1px, $font-size )

  &:after
    display: block
    position: absolute
    bottom: map-get( $nav-link-props, underline-height ) * -1
    left: 0
    right: 0
    height: map-get( $nav-link-props, underline-height )
    background: $link-color
    content: ''
    +transition( bottom transition( md ) )

  &:hover,
  &.active
    color: $link-color

    &:after
      bottom: 0

.header__nav--secondary
  display: none
  position: absolute
  top: 100%
  left: 0
  right: 0
  text-align: right

  li
    $padding-sizes-horiz: 1.05%
    padding: 0.7em $padding-sizes-horiz

    $width: 1000px
    @while $padding-sizes-horiz > 0%
      +mq( $width )
        $padding-sizes-horiz: $padding-sizes-horiz - 0.06%
        $width: $width * 0.99

        padding-left: $padding-sizes-horiz
        padding-right: $padding-sizes-horiz


.nav__link--secondary
  $font-size: 17px
  padding: 0.3em map-get( $nav-link-props, padding-x )
  font-size: em( $font-size )

  &:hover,
  &.active
    color: white
    background: $link-color
