$header-bps: ( nav-logo-stack: 750px )

.header
  +box-sizing( border-box )
  padding-top: map-get( $header-props, padding-top)
  overflow: visible

  .container
    position: relative

  +mq( page( width ) + 16px )
    font-size: 95%

  +mq( 915px )
    font-size: 90%

  +mq( 460px )
    font-size: 80%

  +mq( map-get($header-bps, nav-logo-stack) )
    padding: 5px 0 10px

.header__home-link
  display: block
  float: left
  text-align: center
  +transition( opacity transition(md) )

  +mq( map-get($header-bps, nav-logo-stack) )
    display: none

  h1
    padding: map-get( $nav-link-props, padding-y ) 0
    font-size: em( 24px )
    font-weight: bold
    color: map-get( $header-props, color-default )

  img
    display: block
    width: 317px
    height: 48px

.header__nav--primary,
.header__nav--secondary
  list-style: none
  padding-left: 0

.header__nav--primary
  height: 100%
  margin-bottom: 0
  text-align: center

  +mq( map-get( $header-bps, nav-logo-stack ), min-width )
    float: right

  li
    display: inline-block
    vertical-align: middle
    padding: 0 1.2em

    +mq( 500px )
      padding-left: 1em
      padding-right: 1em

    &:first-child
      padding-left: 0

    &:last-child
      padding-right: 0

.header--dark
  .header__home-link h1,
  .nav__link
    color: map-get( $header-props, color-dark )

  .nav__link
    &:hover
      color: map-get( $header-props, color-dark )

    &:after
      background: map-get( $header-props, color-dark )

.nav__link
  display: block
  position: relative
  padding: map-get( $nav-link-props, padding-y ) map-get( $nav-link-props, padding-x )
  color: map-get( $header-props, color-default )

  +active-link-states
    color: map-get( $header-props, color-default )

  +mq( map-get($header-bps, nav-logo-stack) )
    padding-bottom: 8px

.nav__link--primary
  $font-size: 19px
  font-size: em( $font-size )
  text-transform: uppercase

  &:after
    display: block
    position: absolute
    bottom: ( padding(sm) + map-get( $nav-link-props, underline-height ) ) * -1
    left: 0
    right: 0
    height: map-get( $nav-link-props, underline-height )
    opacity: 0
    background: map-get( $header-props, color-default )
    content: ''
    +transition( bottom transition(md), opacity transition(md) )

  &:hover,
  &.active

    &:after
      bottom: 0
      opacity: 1
