.wrapper
  width: 100%
  overflow: hidden

.container
  +box-sizing( border-box )
  margin: 0 auto
  padding: 0

.container--page-width
  width: 100%
  max-width: map-get( $page-props, width )

.container--first
  padding-top: map-get( $page-props, padding-y )


.container--last
  padding-bottom: map-get( $page-props, padding-y )

+mq( 900px )
  .container--first
    padding-top: map-get( $page-props, padding-y-mobile )
  .container--last
    padding-bottom: map-get( $page-props, padding-y-mobile )

.container--content
  @media ( max-width: map-get( $page-props, width ) + map-get( $page-props, padding-x ) * 2 )
    padding-left: map-get( $page-props, padding-x )
    padding-right: map-get( $page-props, padding-x )

+mq( 810px, min-width )
  .portfolio-items
    .container--first
      padding-top: map-get( $header-props, nav-secondary-height ) + map-get( $page-props, padding-y-portfolio )

    .header__nav--secondary
      display: block
