body
  &.sample-open
    overflow: hidden

.wrapper
  width: 100%
  min-height: 100%
  overflow: hidden
  margin-bottom: page(footer-height) * -1

  &:after
    display: block
    content: ''
    height: page(footer-height)

.content
  position: relative

.container,
.container--page-width
  width: 100%

.container
  @extend .clearfix
  +box-sizing( border-box )
  margin: 0 auto
  padding: 0

.container--page-width
  max-width: page( width )

  &.container--content
    +mq( page( width ) + page( padding-x ) * 2 )
      padding-left: page( padding-x )
      padding-right: page( padding-x )
      max-width: 100%

    +mq( 700px )
      padding-left: page( padding-x-mobile )
      padding-right: page( padding-x-mobile )

.container--first
  padding-top: page( padding-y )

.container--last
  padding-bottom: page( padding-y )

+mq( 900px )
  .container--first
    padding-top: page( padding-y-mobile )
  .container--last
    padding-bottom: page( padding-y-mobile )
