$resume-accent-color: darken( #789AC8, 5% )

.resume
  .back-to-top
    a
      @extend .text-link--white

    @media ( min-height: 920px ) and ( min-width: resume( bp-stack ) )
      display: none

  // .headroom--not-top
  //   background: $resume-accent-color

  .container--first
    padding-top: 18vh

    +mq( 1600px )
      padding-top: 14vh

    +mq( 800px )
      padding-top: 10vh

.heading--resume
  min-height: 100vh

  .heading__background-image
    height: 100%
    background-image: image-url( 'headings/resume.jpg' )

    &:before
      background: transparentize( white, 0.05 )

  +mq( 600px )
    font-size: 85%

.resume__section
  color: gray(dark)
  // text-shadow: 0 0 0.7em $resume-accent-color

  + .resume__section
    margin-top: 2em

  +mq( resume( bp-stack ), min-width )
    float: right
    width: 48%

    &:first-child,
      float: left

    &:nth-child(2)
      margin-top: 0

  @media ( max-width: resume( bp-stack ) ) and ( min-width: resume(max-width) + 100px )
    max-width: resume(max-width)
    margin:
      left: auto
      right: auto

.resume__subsection
  margin-top: 1.3em

  h6
    font-size: em( 18px )

.resume__job-heading
  @extend %font-weight-semibold

.resume__dates
  @extend %font-weight-light

  +mq( resume( bp-stack ), min-width )
    display: block

  +mq( 700px )
    display: block
.resume__view-pdf
  clear: both
  padding-top: 2.5em
  text-align: center

  a
    @extend .btn
    @extend .btn-default

  +mq( 800px )
    display: none
