$resume-accent-color: darken( #789AC8, 5% )

.resume
  .back-to-top
    a
      @extend .text-link--white

    @media ( min-height: 940px ) and ( min-width: resume( bp-stack ) )
      display: none

  .container--first
    padding-top: 20vh

    +mq( 800px )
      padding-top: 10vh

.heading--resume
  min-height: 100vh

  .heading__background-image
    height: 100%
    background-image: image-url( 'headings/resume.jpg' )

    &:before
      background: transparentize( $resume-accent-color, 0.1 )


  +mq( 800px )
    font-size: 85%

  +mq( 600px )
    font-size: 75%

.resume__section
  color: white
  text-shadow: 0 0 0.7em $resume-accent-color

  + .resume__section
    margin-top: 2em

  +mq( resume(bp-stack), min-width )
    float: right
    width: 48%

    &:first-child,
      float: left

    &:nth-child(2)
      margin-top: 0

  @media ( max-width: resume(bp-stack) ) and ( min-width: resume(max-width) + 100px )
    max-width: resume(max-width)
    margin:
      left: auto
      right: auto

.resume__subsection
  margin-top: 1.3em
