.single-page-nav
  position: fixed
  bottom: 13%
  right: 0
  z-index: 2

  .text
    display: none

  a
    $color: gray(medium-dark)
    display: block
    padding: 15px
    font-size: em( 12px )
    color: $color
    text-align: right

    &:after
      display: block
      content: ''
      float: right
      clear: right
      +circle( 12px, $color )
      border: 2px solid $color
      background: transparent
      color: transparent
      overflow: hidden
      margin-left: 15px
      +box-shadow( 1px, 1px, 2px, transparentize(white, 0.8) )

    &:hover,
    &.current
      .text
        display: inline

      &:after
        background: $color
