body
  @extend %content-font-style
  font-size: 16px

h1,
h2
  padding: 0
  margin: 0

h1
  @extend %header-font-style

h2
  font-size: em( 30px )
  font-weight: bold

a,
a:hover
  text-decoration: none

.heading--page
  $font-size: 30px
  font-size: em( $font-size )
  margin: 0 0 em( 20px, $font-size ) 0



