body
  @extend %content-font-style
  font-size: 16px

h1,
h2
  padding: 0
  margin: 0

h1
  @extend %header-font-style

h2
  font-size: em( 30px )
  font-weight: bold

a,
a:hover
  text-decoration: none

$page-props: ( width: 1024px, padding-x: map-get( $padding-sizes, md ), padding-y: map-get( $padding-sizes, lg ), padding-y-mobile: 35px, padding-y-portfolio: 35px )
$header-props: ( nav-primary-height: 75px, nav-secondary-height: 47px )

.heading--page
  $font-size: 30px
  font-size: em( $font-size )
  margin: 0 0 em( 20px, $font-size ) 0



