.container.container--first.container--page-width.container--content.container--portfolio-samples
  .portfolio-item__samples-container
    .portfolio-item__samples.js__samples
      - @portfolio_item.samples.each do |sample|
        .portfolio-item__sample.portfolio-item__sample--active.js__sample{ data: { name: sample.slug } }>
          .portfolio-item__image-container
            = image_tag "portfolio/samples/#{ @portfolio_item.slug }/#{ sample.slug }.jpg", class: 'portfolio-item__image'

          - if sample.caption
            .portfolio-item__caption
              %p= sample.caption.html_safe

    - if @portfolio_item.samples.length > 1
      .js__samples-navigation.hidden
        .arrow-prev.js__arrow-prev
          %i.glyphicon.glyphicon-chevron-left
        .arrow-next.js__arrow-next
          %i.glyphicon.glyphicon-chevron-right

        .dot-navigation.portfolio-item__match-width--image
          .dot-navigation__dots.js__dots
            - @portfolio_item.samples.each do |sample|
              .dot-navigation__dot-container.js__dot{ data: { name: sample.slug } }>
                .dot-navigation__dot
            .dot-navigation__dot-fill.js__dot-fill
