- content_for :title, 'Work'

.header-push
.content.clearfix
  %ul.portfolio-item-covers
    - portfolio_items.each do |item|
      = render partial: 'portfolio_items/index/cover', locals: { item: item }

  - portfolio_items.each_with_index do |item, index|
    = render partial: 'portfolio_items/index/sample', locals: { item: item, index: index }

  .portfolio-item-sample.js__portfolio-item-sample

= render 'layouts/back_to_top'
