- content_for :title, @item.name

= render partial: 'portfolio_items/index/sample', locals: { item: @item, index: @index, length: portfolio_items.length }

- if @item.show_case_study?
  .content
    = render @item.description_partial_path, { item: @item }

    = render 'layouts/back_to_top'
