$portfolio-img-width: 780px
$portfolio-img-aspect: 605 / 900
$portfolio-img-height: $portfolio-img-aspect * $portfolio-img-width
$portfolio-item-gutter: 80px
$portfolio-text-width: page(width) - $portfolio-img-width - $portfolio-item-gutter
$portfolio-text-spacing: 60px

.portfolio-item
  padding: padding( xl ) 0

  &:nth-child( even )
    background: gray( off-white )

.portfolio-item__name,
.portfolio-item__info,
.portfolio-item__blurb,
.portfolio-item__link-container
  float: right
  width: percentage( $portfolio-text-width / page(width) )
  margin-bottom

.portfolio-item__link-container
  margin-top: 0.8em

.portfolio-item__name
  margin: 0.5em 0
  color: gray( darkest )

.portfolio-item__info,
.portfolio-item__blurb,
.portfolio-item__link-container
  font-size: em( 17px )

  +mq( 1180px )
    font-size: em( 15px )

.portfolio-item__info
  margin-bottom: em( $portfolio-text-spacing, 17px )
  color: gray( medium )

  +mq( 760px, min-width )
    float: right

  +mq( 600px )
    font-size: em( 15px )

.portfolio-item__image-container
  width: percentage( $portfolio-img-width / page(width) )
  float: left

+set-aspect-ratio( '.portfolio-item__image', $portfolio-img-aspect, $portfolio-img-width )
  display: block



