.portfolio-items.show

  .heading--portfolio-item
    @extend .heading--page
    display: table
    width: 100%

    .heading__background-image
      &:before
        background: transparentize( black, 0.4 )

    .heading__text
      position: relative
      display: table-cell
      vertical-align: middle

    h2
      position: static
      margin-top: 0
      text-transform: none

    +mq( 680px )
      h2
        font-size: em( 60px )

    +mq( 550px )
      h2
        font-size: em( 50px )

  .portfolio-item__info
    margin-top: 0.3em
    color: white
    font-size: em(20px)
    text-align: center

    .line
      display: inline

      + .line
        border-left: 1px solid gray( light )
        padding-left: 0.5em
        margin-left: 0.2em

  .portfolio-item__all-projects-link
    $font-size: 18px
    @extend .btn-primary
    position: absolute
    left: 0
    bottom: 0
    z-index: 1
    padding: em( 10px, $font-size ) em( 26px, $font-size )
    margin-top: 0.7em
    font-size: em( $font-size )

    i
      display: inline-block
      vertical-align: middle
      margin-right: 0.4em
      font-size: 1.4em

    +mq( 780px )
      display: none

  .portfolio-item__section
    margin-bottom: 70px

    img
      display: block
      width: 100%
      height: auto
      margin-bottom: 15px

    &:last-child
      margin-bottom: 0

  .portfolio-item__section-name
    margin-bottom: 0.6em

  .portfolio-item__link-container
    text-align: center
    margin-bottom: 50px

  p
    + ol,
    + ul
      margin-top: 20px

  ul,
  ol
    margin-bottom: 0

    li
      margin-bottom: 10px
