.portfolio-items.show
  $page-heading-padding-top: 23%

  .heading--portfolio-item
    @extend .heading--page

    .container
      position: relative
      top: $page-heading-padding-top

    .heading__background-image
      &:before
        background: transparentize( black, 0.3 )

    h2
      position: static
      margin-top: 0
      text-transform: none
      text-align: left

    +mq( 680px )
      h2
        font-size: em( 60px )

    +mq( 550px )
      .container
        top: 15%

  .portfolio-item__info
    margin-top: 0.7em
    color: gray( off-white )
    font-size: em(20px)

    .line
      display: inline

      + .line
        border-left: 1px solid gray(lighter)
        padding-left: 0.4em
        margin-left: 0.1em

  .portfolio-item__all-projects-link
    $font-size: 18px
    position: absolute
    right: 0
    // Offset for H2 line height
    top: $page-heading-padding-top
    z-index: 1
    padding: em( 12px, $font-size ) em( 26px, $font-size )
    margin-top: 0.7em
    font-size: em( $font-size )
    background: transparentize( white, 0.1 )
    color: $link-color
    +transition( background transition(md), color transition(md) )

    i
      display: inline-block
      vertical-align: middle
      margin-right: 0.4em
      font-size: 1.4em

    &:hover
      background: white
      color: darken( $link-color, 6% )

    +mq( 780px )
      display: none

  .portfolio-item__section
    margin-bottom: 70px

    img
      display: block
      width: 100%
      height: auto
      margin-bottom: 15px

    &:last-child
      margin-bottom: 0

  .portfolio-item__section-name
    margin-bottom: 0.6em

  .portfolio-item__link-container
    text-align: center
    margin-bottom: 50px

  p
    + ol,
    + ul
      margin-top: 20px

  ul,
  ol
    margin-bottom: 0

    li
      margin-bottom: 10px
