.header
  .container--page-width
    .icon-menu
    %a.header__home-link{:href => "/portfolio", :title => "home"}
      %h1 Angela Potter
    %ul.header__nav--primary
      %li
        %a.nav__link{ href: portfolio_path }
          Portfolio
          %ul.header__nav--secondary
            %li
              %a.subTab.olsetWebsiteLink{:href => "/portfolio/olset-website.php"} OLSET.com
            %li
              %a.subTab.olsetAnydoLink{:href => "/portfolio/olset-anydo.php"} Any.do Travel
            %li
              %a.subTab.olsetBizCardsLink{:href => "/portfolio/olset-biz-cards.php"}
                OLSET biz cards
            %li
              %a.subTab.musicNotationLink{:href => "/portfolio/music-notation-app.php"}
                Music notation app mockup
            %li
              %a.subTab.myfiveLink{:href => "/portfolio/myfive.php"} MyFive
            %li
              %a.subTab.oldPersonLink{:href => "/portfolio/old-person.php"} Old Person App
            %li
              %a.subTab.snakeLink{:href => "/portfolio/snake.php"} Snake
      %li
        %a.nav__link{:href => "/resume.php"} Resume
      %li
        %a.nav__link{ href: about_path } About
