.container.container--page-width.container--first.container--last.container--content
  %h2.heading--page About
  = image_tag "angela-profile.jpg", alt: "Angela Potter", class: 'about__headshot'
  %p
    I’m a designer with serious front-end development skills. I specialize in
    <strong>usability and interaction design</strong>,
    and am great at distilling complex processes down to simple UI. I have experience
    with web and mobile design, and I code in <strong>HTML/CSS, JavaScript, and JQuery</strong>
  %p
    Right now I'm a UI/UX designer at #{ link_to 'Goldbely', 'https://goldbely.com', class: 'link--text' }, a website where you can order iconic regional dishes from across the USA, shipped to your door.

