- content_for :title, 'About'

.header-push
.content.clearfix.container.container--narrow.container--first.container--last.container--content
  %p Hi, I'm  Angela. I'm a product designer based in San Francisco.

  %h3.heading--section What motivates me
  %p
    I love removing friction from people's lives so they can focus on their passions.
  %p
    Humans have a limited supply of cognitive resources. They should spend these resources on the things they care about, not figuring out how to use software.

  %h3.heading--section My strengths

  %p
    I take design from ideation through implementation, using a combination of quantitative and qualitative data to solve problems and reach business goals. I dig deep in user interviews to uncover their true needs and frustrations.

  %p
    Design is about thinking big but starting small; finding the balance between delivering immediate value while moving toward the long-term vision.
  %p
    I have a background in front-end development and love working with engineers. Undestanding technical constraints is a big part of the job. I work best when I'm rapidly iterating with a small cross-functional team.

  %h3.heading--section How to reach me

  %p
    I'm open to new opportunities. Send me a note at #{ mail_to contact_info.email, contact_info.email, class: 'text-link--primary' } if you’d like to get in touch!

= render 'layouts/back_to_top'
