.contact.footer
  .container.container--page-width.container--content
    .left
      %a{ href: "malto:angelacbpotter@gmail.com", title: "email me"}
        .social-icon.email
      %a{ href: "tel:2069498204", title: "call me"}
        .social-icon.phone
    %a{ href: "http://www.linkedin.com/in/angelacbpotter/", target: "_blank", title: "LinkedIn"}
      .social-icon.linkedIn
    %a{ href: "https://twitter.com/takehypotenuses", target: "_blank", title: "Twitter"}
      .social-icon.twitter
    %a{ href: "https://dribbble.com/angelapotter", target: "_blank", title: "Dribbble"}
      .social-icon.dribbble
    %a{ href: "http://ux.stackexchange.com/users/27505/angelapotter", target: "_blank", title: "UX StackExchange"}
      .social-icon.stackExchange
    %a.margin-right--none{ href: "https://github.com/angelapotter", target: "_blank", title: "Github"}
      .social-icon.github

