.header
  .container.container--page-width.container--content
    .icon-menu
    %a.header__home-link{ href: root_path, title: "Home"}
      %h1
        %strong Angela Potter
        is a UX Designer in SF
    %ul.header__nav--primary
      %li>
        %a.nav__link.nav__link--primary{ href: portfolio_path, class: ( 'active' if params[ :controller ] == 'portfolio_items' ) }
          Portfolio
      %li>
        %a.nav__link.nav__link--primary{ href: resume_path, class: ( 'active' if params[ :action ] == 'resume' ) } Resume
      %li>
        %a.nav__link.nav__link--primary{ href: about_path, class: ( 'active' if params[ :action ] == 'about' ) } About
